{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Python Django, PHP Symfony, Desarrollador Web Full Stack</title>
	<meta name="description" content="Python Django, Php Symfony, Desarrollador Web Full Stack. Otras tecnologías que uso: Docker, ElasticSearch, Kibana, Angular, React y más!.">
	<link rel="canonical" href="https://luisrosales.info/es/cv">
	<link rel="alternate" hreflang="en" href="https://luisrosales.info/en/cv.html" />
	<script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "Person",
		  "additionalName": "Alberto",
		  "familyName":"Rosales",
		  "givenName":"Luis",
		  "nationality":{
			"@type":"Country",
			"name":"España",
			"sameAs":"https://es.wikipedia.org/wiki/Espa%C3%B1a"
			},
		  "address": {
			  "@type":"PostalAddress",
			  "addressCountry":"ES",
			  "addressLocality":"Comunidad de Madrid",
			  "addressRegion":"Getafe",
			  "postalCode":"28901"
		  },
		  "alumniOf": {
			"@type": "EducationalOrganization",
			"name": "KeepCoding | Cursos y Bootcamp: programación Web, Mobile y Big Data.",
			"sameAs": "https://keepcoding.io/es/"
		  },
		  "jobTitle":"Senior Developer"

		}
	</script>

	<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700" rel="stylesheet">

</head>

<body>

	<header class="header" id="cover">

        <div class="cover">
	        <div class="title-img">
				<div class="cover-container col-12">

					<div class="col-7">
					&nbsp;
					</div>
					<div class="col-7 row-flex">
						<h1 class="title">Python Django, PHP Symfony, Desarrollador Web Full Stack</h1>

				        <p class="title-cite title-flex-item">
							Me considero un herrero digital, siempre orientado hacia los proyectos. Si empiezo algo me gusta ver el resultado final. También soy un emprendedor.
				        </p>
					</div>
				</div>

	        </div>
        </div>

	</header>

	<nav class="navbar">

		<div class="navbar-left">
			<ul class="navbar-home">
				<li class="navbar-item home">
					<a href="#cover">LR</a>
				</li>
			</ul>
		</div>
		<div class="navbar-right">
			<ul class="navbar-list">

				<!-- KeepCoding -->

				<!-- Portada:	donde	pondremos	una	imagen	de	foto	con	un	texto	(deberá	ocupar	el	viewport	de	la pantalla -->


				<li class="navbar-item">
					<a href="#about-me">Acerca de Mi</a>
				</li>

				<li class="navbar-item">
					<a href="#skills">Habilidades</a>
				</li>

				<li class="navbar-item">
					<a href="#experience">Experiencia</a>
				</li>

				<!--<li class="navbar-item">-->
					<!--<a href="">About Me - Professional Skills</a>-->
				<!--</li>-->

				<!--<li class="navbar-item">-->
					<!--<a href="">Why me?</a>-->
				<!--</li>-->
				<li class="navbar-item">
					<a href="#education">Formación</a>
				</li>

				<li class="navbar-item">
					<a href="#contact">Contacto</a>
				</li>

				<li class="navbar-item">
					<a href="#ajax">Mensajes</a>
				</li>

			</ul>
		</div>


	</nav>

	<main class="container">
		<!-- KeepCoding -->
			<!-- Sobre mi: seccion donde mostratrmos algunos de nuestros intereses o aficiones con un pequeno video max 10Mb -->
			<!-- Monster -->
			<!--
				“Core competencies” is a good title for this section if you have two to five years of experience or are switching careers.
				For people with longer work histories, “professional skills” might make more sense.
				Job seekers applying for trades or technical positions can use “technical competencies.”
				This section where you list your skills, knowledge and experience, Bacal says.
			-->
		<section class="section about-me" id="about-me">

			<div class="section-content col-12 offset-col-1">
				<header class="section-header">
					<h2>Acerca de Mi</h2>
				</header>
				<div class="personal-img-container">

				</div>
				<div class="about-me-content">
					<div class="about-me-text">
						<span class="item">+9 años de experiencia en Ingeniería.</span>
						<span class="item">Ingeniero de Proyectos.</span>
						<span class="item">Emprendedor.</span>
						<span class="item">Ingeniería Mecánica.</span>
						<span class="item">Programación Web.</span>
						<span class="item">PHP.</span>
						<span class="item">Symfony.</span>
						<span class="item">Python.</span>
						<span class="item">Aprendizaje Contínuo.</span>
						<span class="item">Ingeniero de Campo.</span>
						<span class="item">Carga General.</span>
						<span class="item">Carga Extra Pesada.</span>
						<span class="item">HVAC.</span>
						<span class="item">Estrategia de Negocio.</span>
						<span class="item">Música.</span>
					</div>
				</div>
			</div>

			<div class="chapter">
				<span class="chapter-number">01</span>
			</div>
		</section>
		<section class="section skills" id="skills">

			<div class="section-content col-12 offset-col-1">
				<header class="section-header">
					<h2>Habilidades</h2>
				</header>
				<h3 class="">Selecciona alguna habilidad!</h3>
				<div class="vagrant hidden">
					<p>
						He usado <a href="https://www.vagrantup.com/" target="_blank" rel="nofollow">Vagrant</a> para crear mis entornos de desarrollo. Muchas veces lo utilizaba junto con la imagen de Homestead para desarrollar aplicaciones PHP con <a href="https://symfony.com/" target="_blank" rel="nofollow">Symfony</a>.
					</p>
				</div>
				<div class="apache hidden">
					<p>
						En mis inicios utilizaba <a href="https://httpd.apache.org/" target="_blank" rel="nofollow">Apache</a> para configurar mis entornos de desarrollo locales y creaba virtualhots para poder acceder a las aplicaciones con algunos dominios ficticios.
					</p>
					<p>
						Luego con un poco mas de experiencia para activar sitios en el servidor de producción y encriptar los requests.
					</p>
				</div>
				<div class="ccs3">
					<p>
						Uso CSS3 desde que empecé a programar para la web.
					</p>
					<p>
						Es difícil decirlo, aunque me gusto mucho picar código si puedo utilizar algún framwerok de base como
						<a href="https://getbootstrap.com/" target="_blank" rel="nofollow">Bootstrap</a> o
						<a href="https://adminlte.io/preview" target="_blank" rel="nofollow">AdminLTE</a> los usaré sin pensarlo 2 veces.
						Para qué reinventar la rueda, ¿no?.
					</p>
				</div>
				<div class="docker hidden">
					<p>
						Desde que <a href="https://www.docker.com/" rel="nofollow" target="_blank">Docker</a> empezó a sonar he estado muy pendiente de poder usarlo.
					</p>
					<p>
						Primero tuve que crear una partición de Linux en mi portátil para poder usarlo sin mayores inconvenientes y me pareció genial.
					</p>
					<p>
						Me gusta el hecho de que es mas ligero y mucho mas portable que una VM.
					</p>
					<p>
						Actualmente me gusta utilizarlo para mis entornos de desarrollo e incluso ya lo he usado para algunos proyectos en producción.
					</p>
				</div>
				<div class="elasticsearch hidden">
					<p>
						Empecé a utilizar <a href="https://www.elastic.co/products/elasticsearch" rel="nofollow" target="_blank">Elasticsearch</a> en principios de 2016.
					</p>
					<p>
						Trabajaba en un proyecto que requería búsquedas por proximidad con algunos condimentos de relevancia, me parecío cool usarlo para realizar estas búsquedas.
					</p>
				</div>
				<div class="html5 hidden">
					<p>
						La base de las páginas web. Lo uso desde 2014.
					</p>
				</div>
				<div class="javascript hidden">
					<p>
						Cada vez lo uso más ya que me interesa mejorar mis habilidades de Frontend.
					</p>
				</div>
				<div class="skills-carousel">
					<div class="img-container">
						<img src="{% static 'color/Vagrant.png' %}" alt="Logo de Vagrant" title="Logo de Vagrant">
					</div>
					<div class="img-container">
						<img src="{% static 'color/apache.png' %}" alt="Logo de Apache" title="Logo de Apache">
					</div>
					<div class="img-container">
						<img src="{% static 'color/css3.png' %}" alt="Logo de CSS3" title="Logo de CSS3">
					</div>
					<div class="img-container">
						<img src="{% static 'color/docker.png' %}" alt="Logo de Docker" title="Logo de Docker">
					</div>
					<div class="img-container">
						<img src="{% static 'color/es.svg' %}" alt="Logo de Elasticsearch" title="Logo de Elasticsearch">
					</div>
					<div class="img-container">
						<img src="{% static 'color/html.png' %}" alt="Logo de HTML5" title="Logo de HTML5">
					</div>
					<div class="img-container">
						<img src="{% static 'color/js.png' %}" alt="Logo de Javascript" title="Logo de Javascript">
					</div>
					<div class="img-container">
						<img src="{% static 'color/kibana.png' %}" alt="Logo de Kibana" title="Logo de Kibana">
					</div>
					<div class="img-container">
						<img src="{% static 'color/linux.png' %}" alt="Logo de Linux" title="Logo de Linux">
					</div>
					<div class="img-container">
						<img src="{% static 'color/mysql.png' %}" alt="Logo de MySQL" title="Logo de MySQL">
					</div>
					<div class="img-container">
						<img src="{% static 'color/php-1' %}.png" alt="Logo de PHP" title="Logo de PHP">
					</div>
					<div class="img-container">
						<img src="{% static 'color/py.png' %}" alt="Logo de Python" title="Logo de Python">
					</div>
					<div class="img-container">
						<img src="{% static 'color/sf.png' %}" alt="Logo de Symfony" title="Logo de Symfony">
					</div>
 				</div>
			</div>
			<div class="chapter">
				<span class="chapter-number">02</span>
			</div>
		</section>
		<section class="section experience" id="experience">

			<div class="section-content col-12 offset-col-1">
				<header class="section-header">
					<h2>Experiencia</h2>
				</header>
				<ul class="git-container">
					<li class="experience-item clearfix">
						<div class="commit-img">

						</div>
						<div class="experience-item-container">

							<header>
								<h4 class="job-position">Ingeniero de Proyectos / Desarrollador.</h4>
								<h5 class="company-name">Solutions 30 Iberia. <span class="country">Spain.</span></h5>

							</header>
							<ul class="experience-item-text">
								<li class="job-bullet-item">Responsable de llevar la migración del sistema principal a otro.</li>
								<li class="job-bullet-item">Atender los requerimientos de usuarios y necesidades. </li>
								<li class="job-bullet-item">Desarrollar software con interfaces y herramientas para rellenar los intersticios durante la migración.</li>
								<li class="job-bullet-item">Trabajar con equipos internacionales y proveedores para lograr los objetivos de la empresa.</li>
								<li class="job-bullet-item">Revisar procesos en el software entregado.</li>
							</ul>
							<footer class="experience-item-footer">
								<span class="from">2017-03</span> -
								<span class="to">Actual</span>
							</footer>
						</div>

					</li>
					<li class="experience-item clearfix">
						<div class="commit-img">

						</div>
						<div class="experience-item-container">

							<header>
								<h4 class="job-position">Ingeniero de Proyecto.</h4>
								<h5 class="company-name">Roll-Group. <span class="country">Uruguay.</span></h5>
							</header>
							<ul class="experience-item-text">
								<li class="job-bullet-item">Coordinar todos los envíos de carga general al sitio. Esto fué un logro mayor dentro de la empresa ya que no exixtía un departamento especializado en el área dentro de la empresa.</li>
								<li class="job-bullet-item">Coordinar envíos sobre dimensionados (ODC cargo).</li>
								<li class="job-bullet-item">Monitorear y controlar cada envío.</li>
								<li class="job-bullet-item">Controlar costos de cada envío y reportar al gerente de proyecto.</li>
								<li class="job-bullet-item">Preparar cronogramas de entrega de carga ultra pesada (Heavy Cargo).</li>
								<li class="job-bullet-item">Diseño y dibujo de Planes de izaje en Autocad.</li>
							</ul>
							<footer class="experience-item-footer">
								<span class="from">2014-05</span> -
								<span class="to">2017-09</span>
							</footer>
						</div>

					</li>
					<li class="experience-item clearfix">
						<div class="commit-img">

						</div>
						<div class="experience-item-container">

							<header>
								<h4 class="job-position">Co-fundador / Director / Gerente de Operaciones / Gerente de Proyecto / Ingeniero de Proyectos.</h4>
								<h5 class="company-name">Airlard Ingenieria. <span class="country">Venezuela.</span></h5>

							</header>
							<h5>Como Director:</h5>
							<ul class="experience-item-text">
								<li class="job-bullet-item"> Conformar y hacer crecer la compañía. </li>
								<li class="job-bullet-item"> Mejorar los procesos dentro de la compañia. </li>
								<li class="job-bullet-item"> Find ways to improve the processes within the company. </li>
								<li class="job-bullet-item"> Planificar la estrategia del negocio.</li>
								<li class="job-bullet-item"> Encontrar clientes.</li>
								<li class="job-bullet-item"> Encontrar y contratar subcontratistas.</li>
								<li class="job-bullet-item"> Manejar interesados. Balancear intereses dentro del portafolio de proyectos.</li>
							</ul>
							<h5>Como Gerente Operativo:</h5>
							<ul class="experience-item-text">
								<li class="job-bullet-item"> Responsable de iniciar, planificar, ejecutar, monitorear, controlar y cerrar proyectos. </li>
								<li class="job-bullet-item"> Encontrar Proveedores.</li>
								<li class="job-bullet-item"> Contratar mano de obra.</li>
								<li class="job-bullet-item"> Contratar supervisar y controlar subcontratistas.</li>
								<li class="job-bullet-item"> Manejar interesados. Balancear intereses.</li>
							</ul>

							<h5>Proyectos:</h5>
							<ul class="experience-item-text">
								<li class="job-bullet-item"> PEPSICO. Sistema de AA (HVAC). Industria Alimenticia.</li>
								<li class="job-bullet-item"> CONSTRUCTORA TAMPA. Instalación de Sistema de AA (HVAC). Oficinas.</li>
								<li class="job-bullet-item"> CENTRO MEDICO PASO REAL: Instalación de Sistema de AA (HVAC) Para Unidad de cuidados intensivos. Hospitales.</li>
								<li class="job-bullet-item"> MEYER PRODUCTOS TERAPÉUTICOS (SIEGFRIED GROUP). Instalación de Sistema de AA (HVAC). Industria Farmaceutica.</li>
								<li class="job-bullet-item"> TRANE. Instalación de Sistema de Control de AA (HVAC). Tienda.</li>
							</ul>
							<footer class="experience-item-footer">
								<span class="from">2011-07</span> -
								<span class="to">2016-12</span>
							</footer>
						</div>

					</li>
					<li class="experience-item clearfix">
						<div class="commit-img">

						</div>
						<div class="experience-item-container">

							<header>
								<h4 class="job-position">Project Engineer.</h4>
								<h5 class="company-name">Feibo Servicios Industriales. <span class="country">Venezuela.</span></h5>
							</header>
							<ul class="experience-item-text">
								<li class="job-bullet-item">Instalación de Sistema de AA (HVAC) para PROCTER & GAMBLE ens u planta de pañales en Guatire, Venezuela. El proyecto consistió en la instalación de dos (2) chillers (120 TON de Refrigeración cada uno), sistema de bombeo primario y secundario variable. Cinco (5) UMAs (Unidades de Manejo de Aire).
								</li>
								<li class="job-bullet-item"> Factory Acceptance Test (FAT) in Tokyo, Japan; Charlotte, U.S.A. and Montreal, Canada for ductwork and HVAC equipment with TOYO Engineering Corporation and Airconditioning Heating International Fze (AHI Fze).
								</li>
							</ul>
							<footer class="experience-item-footer">
								<span class="from">2008-09</span> -
								<span class="to">2011-06</span>
							</footer>
						</div>

					</li>

				</ul>
			</div>
			<div class="chapter">
				<span class="chapter-number">03</span>
			</div>
		</section>
		<section class="section education" id="education">

			<div class="section-content col-12 offset-col-1">

					<header class="section-header">
						<h2>Formación</h2>
					</header>
					<ul class="education-wrapper">
						<li class="education-item collapsed">
							<h3 class="education-header-item">Masters</h3>
							<ul class="education-subitems">
								<li class="education-desc">
									<div class="institution">KeepCoding</div>
									<div class="course-name">III WEB STARTUP ENGINEERING BOOTCAMP</div>
									<span class="from">2017</span> -
									<span class="to">2018</span>
								</li>
							</ul>
						</li>
						<li class="education-item">
							<h3 class="education-header-item">Cursos</h3>
							<ul class="education-subitems">
								<li class="education-desc">
									<div class="institution">PMI / Uruguay</div>
									<div class="course-name">Curso de preparación para certificación PMP</div>
									<span class="from">2015</span> -
									<span class="to">2015</span>
								</li>
								<li class="education-desc">
									<div class="institution">Instituto BIOS / Uruguay</div>
									<div class="course-name">PHP & MYSQL</div>
									<span class="from">2015</span> -
									<span class="to">2015</span>
								</li>
								<li class="education-desc">
									<div class="institution">IESA / Venezuela</div>
									<div class="course-name">Introducción a la gestión de proyectos</div>
									<span class="from">2011</span> -
									<span class="to">2011</span>
								</li>
							</ul>
						</li>
						<li class="education-item collapsed">
							<h3 class="education-header-item">Universidad</h3>
							<ul class="education-subitems">
								<li class="education-desc">
									<div class="institution">Univercidad Central de Venezuela</div>
									<div class="course-name">Ingeniería Mecánica</div>
									<span class="from">2003</span> -
									<span class="to">2008</span>
								</li>
							</ul>
						</li>


					</ul>
			</div>
			<div class="chapter">
				<span class="chapter-number">04</span>
			</div>
		</section>
		<section class="section contact" id="contact">

			<div class="section-content col-12 offset-col-1">
				<header class="section-header">
					<h2>Contacto</h2>
				</header>
				<div class="contact-form-container">
					<form action="" method="" class="contact-form" id="contact-form" novalidate>
						<div class="col-7">

							<div class="form-group">
								<label for="name" class="label">Nombre</label>
								<input type="text" placeholder="e.g. Luis Rosales" name="name" id="name" tabindex="1">
								<span class="error no-visibility" id="name-error">Este campo no debe estar vacío.</span>
							</div>
							<div class="form-group">
								<label for="email" class="label">Correo Electrónico</label>
								<input type="email" placeholder="e.g. example@mail.com" name="email" id="email" tabindex="3">
								<span class="error no-visibility" id="email-error">Este campo no debe estar vacío.</span>
							</div>
						</div>
						<div class="col-7">

							<div class="form-group">
								<label for="phone" class="label">Teléfono</label>
								<input type="text" placeholder="e.g. +34605123456" name="phone" id="phone" tabindex="2">
								<span class="error no-visibility" id="phone-error">Este campo no debe estar vacío.</span>
							</div>
							<div class="form-group">
								<div class="form-group-title">
									Cómo me has conseguido?
								</div>
								<div class="form-radios">
									<input type="radio"  name="how" id="rKeepcoding" class="input-how" value="Keepcoding" tabindex="4">
									<label for="rKeepcoding" class="label">Keepcoding</label>
									<br>
									<input type="radio"  name="how" id="rYoutube" class="input-how" value="Youtube" tabindex="5">
									<label for="rYoutube" class="radio-label">Youtube</label>
									<br>
									<input type="radio"  name="how" id="rGithub" class="input-how" value="Github" tabindex="6">
									<label for="rGithub" class="radio-label">Github</label>
									<br>
									<input type="radio"  name="how" id="rOther" class="input-how" value="Other" tabindex="7">
									<label for="rOther" class="radio-label">Otro</label><br>
									<input type="text" placeholder="Nos conocimos en la conferencia ..." name="other" id="inputOther" class="hidden">
								</div>
								<span class="error no-visibility" id="how-error">Este campo no debe estar vacío.</span>
							</div>
						</div>
						<div class="form-group">
							<div class="form-group-title">
								<p>Escribe un mensaje. (<span class="words-left" id="words-left">150</span> Palabras restantes)</p>
							</div>
							<textarea name="message" id="message" tabindex="8"></textarea>
							<span class="error no-visibility" id="message-error">Este campo no debe estar vacío.</span>
						</div>
						<button type="button" id="send">Enviar</button>
					</form>
				</div>
			</div>

			<div class="chapter">
				<span class="chapter-number">05</span>
			</div>
		</section>
		<section class="section ajax" id="ajax">

			<div class="section-content col-12 offset-col-1">
				<header class="section-header">
					<h2>Sus Mensajes</h2>
				</header>

				<ol class="messages" id="messages">
					<p>Hello World!</p>
				</ol>
			</div>

			<div class="chapter">
				<span class="chapter-number">06</span>
			</div>
		</section>


	</main>

</body>
<script src="{% static '../dist/bundle.js' %}"></script>
</html>